**/.git
**/.gitignore
**/.vscode
**/node_modules
**/vendor
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/.env
**/.env.example
**/README.md
**/CHANGELOG.md
**/tests
**/.editorconfig
**/phpunit.xml
**/.phpunit.result.cache
frontend/dist
frontend/.vite
backend/storage/api-docs
